html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(rgb(70, 60, 255), #3a1c64);
  }

  .container{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 350px;
      padding: 40px;
      transform: translate(-50%, -50%);
      background: rgba(0,0,0,.5);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 7px;
    }
    .container h2 {
            margin: 0 0 30px;
            padding: 0;
            color: #fff;
            text-align: center;
          }
    .container input {
          width: 100%;
          padding: 10px 0;
          font-size: 16px;
          color: #fff;
          margin-bottom: 30px;
          border: none;
          border-bottom: 1px solid #fff;
          outline: none;
          background: transparent;
    }
    .container input[type="submit"]{
          border-bottom: none;
          background: #550cb4;
          padding: 10px 5px 10px 5px;
          border-radius: 20px;
        }
    .container input[type="submit"]:hover{
          background-color: rgb(22, 6, 253);
     }
  .container input[type="reset"]{
          border-bottom: none;
          background: #fa1a40;
          padding: 10px 5px 10px 5px;
          border-radius: 20px;
  }
  .container input[type="reset"]:hover{
            background-color: #f40303;
       }