:root{
  --header: rgb(110, 0, 150);;
  --white: white;
  --dark: black;
  --blue: blue;
}
*{
  margin: 0;
  padding:0;
}
html {
    height: 120%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(rgb(75, 63, 248), #3a1c64);
  }
.container{
  color: var(--white);
}
.header{

}
.content{
 position: absolute;
 margin: -1%;
       top: 60%;
       left: 50%;
       width: 400px;
       padding: 40px;
       transform: translate(-50%, -50%);
       background: rgba(0,0,0,.5);
       box-sizing: border-box;
       box-shadow: 0 15px 25px rgba(0,0,0,.6);
       border-radius: 7px;
}
.header{
  font-size: 16px;
  display: flex;
  text-align: right;
  align-items: right;
  justify-content: space-between;
}

.button{
  border: 1px solid var(--blue);
  padding: 10px;
  border-radius: 20px;
  background: rgb(20, 50, 230);
  flex-direction: row;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,.4);
}

    .content input, textarea, select{
          width: 100%;
          padding: 10px 0;
          font-size: 16px;
          color: #fff;
          margin-bottom: 30px;
          border: none;
          border-bottom: 1px solid #fff;
          outline: none;
          background: transparent;
    }
    .content input[type="submit"]{
          border-bottom: none;
          background: #550cb4;
          padding: 10px 5px 10px 5px;
          border-radius: 20px;
        }
    .content input[type="submit"]:hover{
          background-color: rgb(22, 6, 253);
     }
  .content input[type="reset"]{
          border-bottom: none;
          background: #fa1a40;
          padding: 10px 5px 10px 5px;
          border-radius: 20px;
  }
  .content input[type="reset"]:hover{
            background-color: #f40303;
       }