:root{
--header: rgb(110, 0, 150);;
--white: white;
--dark: black;
--blue: blue;
}
*{
margin: 0;
padding:0;
}
html {
height: 100%;
}
body {
margin:0;
padding:0;
font-family: sans-serif;
background: linear-gradient(rgb(75, 63, 248), #3a1c64);
}
.shopMenu{
background-color: var(--header);
box-shadow: 1px 1px 4px var(--dark);
height: 40px;
justify-content: space-between;
position: relative;
display: flex;
gap: 1em;
flex-direction: wrap;
color: var(--white);
border: none;
}
.nav{
position: absolute;
       top: 27%;
       left: 50%;
       width: 600px;
       padding: 40px;
       transform: translate(-50%, -50%);
       background: rgba(0,0,0,.5);
       box-sizing: border-box;
       box-shadow: 0 15px 25px rgba(0,0,0,.6);
       border-radius: 7px;
       color: white;
}