<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{css/style-dashboard.css}">
<link rel="stylesheet" href="../static/css/style-dashboard.css">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <div class="header">
    <div class="dashboard">
    <div th:fragment="dashboardMenu" class="image">
      <a th:href="@{/home}"><img src="" alt="Logo" /></a>
        <h2>Dashboard</h2>
      <div th:object="${user}">
          <p th:text="|User: *{username}|"></p>
      </div>
    </div>
    </div>
    <div class="func">
      <a th:if="${user.username.equals('root')}" th:href="@{/dashboard/register_employee}">Register employee</a>
      <br/>
      <a th:if="${user.isEmployee}" th:href="@{/dashboard/write_relatory}">Write new relatory</a>
      <br/>
      <a th:if="${!user.isEmployee}" th:href="@{/dashboard/wallet}">Wallet</a>
      <br/>
      <a th:if="${!user.isEmployee}" th:href="@{/shop}">Shop</a>
      <br/>
      <a th:href="@{/dashboard/logout}">Logout</a>
    </div>
    </div>
    </div>

    <div th:if="${user.username.equals(root)}">

    </div>
</body>
</html>
