<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Employee</title>
    <link rel="stylesheet" href="../static/css/style-reg-employee.css">
</head>
<body>
  <div class="container">
  <div th:insert="dashboard :: dashboardMenu"></div>
  <div th:fragment="alertFlags">
    <p th:if="${ERROR_FLAG}" th:text="${ERROR_MESSAGE}" style="color: #ff0000"></p>
    <p th:if="${SUCCESS_FLAG}" th:text="${SUCCESS_MESSAGE}" style="color: #00ff00"></p>
  </div>
    <div class="header">
     <h2>Register Employee</h2>
    </div>
  <form
    method = "post"
    th:action="@{/dashboard/register_employee}"
    th:object="${newEmployee}"
  >
    <input
        th:field="*{name}"
        placeholder="Full name"
        required
    />
    <input
        th:field="*{bi}"
        maxlength="14"
        minlength="14"
        placeholder="BI"
        required
    />
    <input
        th:field="*{phoneNumber}"
        type = "tel"
        minlength="9"
        maxlength="13"
        placeholder="Phone number"
        required
    />
    <input
        th:field="*{email}"
        type = "email"
        placeholder="E-mail"
        required
    />
    <br/>
    <label th:for="${birthDate}">Birth Date</label> <br>
    <input
        th:field="*{birthDate}"
        type = "date"
        placeholder="Birth Date"
    />
    <input
        id="username"
        name="username"
        placeholder="Username"
        required
    />
    <br/>
    <img th:src="@{'data:image/png;base64,' + ${captchaWrapper.captchaImage}}" alt="Captcha"/>
    <br/>
    <input
        th:field="${captchaWrapper.userCaptchaAnswer}"
        required
        placeholder="Insert captcha answer"
    />
    <br/><br/>
    <input
        type="submit"
        value="Confirm"
    />
    <input
        type="reset"
        value="Clear"
    />
  </form>
  </div>
</body>
</html>