<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User sign up</title>
</head>
<body>
	<p th:if="${SIGNUP_ERROR}" style="color: #ff0000">Could not complete operation, username already taken</p>
    <p th:if="${CAPTCHA_ERROR}" style="color: #ff0000">Wrong captcha answer</p>
    <p th:if="${PASSWORD_MISMATCH_ERROR}" style="color: #ff0000">Passwords don't match</p>
    <br/>
    <h1>Sign up</h1>
    <form th:action="@{/register_user}"
          th:object="${captchaWrapper}"
          method="post"
    >
        <input
            id="username"
            name="username"
            placeholder="Username"
            required
        />
        <br/>
        <input
            id="pass"
            name="pass"
            placeholder="Password"
            type="password"
            required
        />
        <br/>
        <input
            id="cpass"
            name="cpass"
            placeholder="Confirm password"
            type="password"
            required
        />
        <br/>
        <img th:src="@{'data:image/png;base64,' + *{captchaImage}}" alt="Captcha"/>
        <br/>
        <input
            th:field="*{userCaptchaAnswer}"
            required
            placeholder="Insert captcha answer"
        />
        <br/><br/>
        <input
            type="submit"
            value="Confirm"
        />
        <input
            type="reset"
            value="Clear"
        />
    </form>
</body>
</html>