<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style-shop-history.css">
    <link rel="stylesheet" href="@{css/style-shop-history.css}">
    <title>Shopping history</title>
</head>
<body>
    <div class="header">
      <div th:insert="shop :: shopMenu"></div>
      <div th:insert="add_product :: returnToDashboard"></div>
        <h2>Shopping history</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Origin wallet</th>
                <th>Destination wallet</th>
                <th>Transacted amount</th>
                <th>Transaction date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="transaction : ${transactions}">
                <th th:text="${transaction.id}"></th>
                <th th:text="${transaction.description}"></th>
                <th th:text="${transaction.idOriginWallet.address}"></th>
                <th th:text="${transaction.idDestinationWallet.address}"></th>
                <th th:text="${transaction.amount}"></th>
                <th th:text="${transaction.date}"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>
