<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@{css/style-shop.css}">
    <link rel="stylesheet" href="../static/css/style-shop.css">
    <title>Shop</title>
</head>
<body>
    <div th:insert="dashboard :: dashboardMenu"></div>
    <div th:fragment="shopMenu" class="shopMenu">
        <a th:href="@{/shop/add_product}">Add Product</a>
        <!--<a th:href="@{/shop/my_store}">My Store</a>-->
        <a th:href="@{/shop/shop_history}">Shopping history</a>
    </div>
    <h1>Shop</h1>
    <div th:insert="~{register_employee :: alertFlags}"></div>
    <form th:each="product : ${products}" th:object="${product}" style="border: solid" method="post" th:action="@{/shop}">
        <br/>
        <h2 th:text="*{name}"></h2>
        <p th:text="*{description}"></p>
        <h3 th:text="|*{price} BTC|"></h3>
        <p th:text="|Seller: *{idSeller.username}|"></p>
        <br/>
        <input type="submit" value="Buy">
        <br/>
        <input readonly name="productId" th:value="*{id}" style="display: none"/>
        <br/>
    </form>
</body>
</html>
