<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Wallet</title>
</head>
<body>
    <div th:insert="~{dashboard :: dashboardMenu}"></div>
    <h1>Wallet</h1>
    <div th:object="${wallet}">
        <p th:text="|Balance: *{balance} BTC|"></p>
    </div>
    <form th:action="@{/dashboard/wallet}" method="post">
        <input name="funds" placeholder="Add funds to your wallet" type="number" min="0.0001"/><input type="submit" value="Submit"/>
    </form>
</body>
</html>